{% extends "base.html.twig" %}

{% block body %}
<div>
<table class "table">
   <tr>
      <th>Product Detail</th>
   </tr>
   <tr>
      <th>Product Name</th>
      <td>{{ product.name }}</td>
   </tr>
   <tr>
      <th>Product Price</th>
      <td>{{ product.price }}</td>
   </tr>
   <tr>
      <th>Product Information</th>
      <td>{{ product.info }}</td>
   </tr>
   <tr>
      <th>Product category ID</th>
      <td>{{ product.catID.id }}</td>
   </tr>
   <tr>
      <th>Category</th>
      <td>{{ product.catID.name }}</td>
   </tr>
</table>
</div>
{% endblock %}