{% extends "base.html.twig" %}

{% block body %}
    {# display a list of users in a table including email, and role #}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Users</h1>
                <div class="col-md-4">
                            <option selected disabled>Admin</option>
                            <li><a href="{{path ('view_list_category')}}">Category</a></li>
                            <li><a href="{{path ('view_list_product')}}">Product update</a></li>
                            <li><a href="{{path ('view_list_customer')}}">Customer update</a></li>
							</div>
							<div class="col-md-4">
                            <li><a href="{{path ('view_list_employee')}}">Employee update</a></li>
                            <li><a href="{{path ('image_index')}}">Image update</a></li>
                            <li><a href="{{path ('user_index')}}">User update</a></li>
                            </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.email }}</td>
                                {# for each role in roles #}
                                <td>
                                    {% for role in user.roles %}
                                    {# if not null #}
                                        
                                            {{ role }}
                                            <br>
                                        
                                    {% endfor %}
                                </td>
                                <td>
                                    {# <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
                                    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a> #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="{{ path('user_add') }}" class="btn btn-primary">Add a new user</a>
            </div>
        </div>
{% endblock %}