{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}

		<h1>Cart List</h1>
		<a href="">Add new cart</a>
		
	{# Display a list of all category in a table #}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>ProductID</th>
				<th>Quantiy</th>
				<th>menu</th>
			</tr>
		</thead>
		<tbody>
			{% for cart in carts %}
				<tr>
					<td>{{ cart.id }}</td>
					<td>{{ cart.email }}</td>
					<td>{{ cart.productID }}</td>
					<td>{{ cart.quantity }}</td>
					<td>
						<a href="{{ path('view_cart_by_id', {'id': cart.id })}}">Detail</a>
						<a href="{{ path('edit_cart', {'id': cart.id })}}">Edit</a>
						<a href="{{ path('delete_cart', {'id': cart.id })}}" onclick="return confirm('Do you want to delete this cart ?');">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
