{% extends 'nav.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="content">
		<div class="row">
			<div class="col-xxl-6 d-xxl-flex justify-content-xxl-center align-items-xxl-center"><img class="d-flex d-xxl-flex justify-content-center align-items-center align-content-center justify-content-xxl-center align-items-xxl-center" src="https://i.pinimg.com/originals/55/6b/f9/556bf9796cce36190590d13a9b457960.jpg" style="width: 100%;height: auto;border-width: 3px;border-style: solid;"></div>
			<div class="col">
				<div class="">
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
					{{ form_row(registrationForm.agreeTerms) }}

					<button type="submit" class="button">Register</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
