{% extends "base.html.twig" %}
{% block body %}
<div>
 <form action="{{ path('search_employee_name') }}" method="post">
        <input type="search" name="keyword" required
        placeholder="Search by employee name">
    </form>
    <h1>employee List</h1>
    <a href="{{ path('add_employee')}}">Add new employee</a>
    <table>
        <thead>
            <tr>
                <th>Employee Email</th>
                <th>Employee Name</th>
                <th>Position</th>
                <th>Phone number</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.email }} </td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.phone }}</td>
                <td>
                <a href="{{ path('view_employee_by_id', {'id': employee.id })}}">Detail</a>
                <a href="{{ path('edit_employee', {'id': employee.id })}}">Edit</a>
                <a href="{{ path('delete_employee', {'id': employee.id })}}"
                onclick = "return confirm('Do you want to delete this employee ?');"
                >Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
