{% extends "nav.html.twig" %}



{% block body %}
    <div class="content">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="col">
                                <h1>Cart</h1>
                                
                                {# display all the product in the cart #}
                                {% for product in products %}
                                {# display if the product is in the cart #}
                                {% if cart.getProductIDById(product.id)%}
                                    <div class="row">
                                        <div class="col">
                                            <form>
                                                <div class="container">
                                                    <div class="row cart-row">
                                                        <div class="col-md-3 d-xxl-flex justify-content-xxl-center align-items-xxl-center cart-column"><img class="cart-image" src="
                                                            {# display the image of the product #}
                                                            {% if product.getImages != null %}
                                                                {{asset('images/product/'~product.getRandomImage().imageID)}} 
                                                            {% else %}
                                                                {{ asset('bundle/images/product2/img2pro2.jpeg') }}
                                                            {% endif %}
                                                        "></div>
                                                        <div class="col-md-3 d-xxl-flex justify-content-xxl-start align-items-xxl-center">
                                                            <h4>{{ product.name }}</h4>
                                                        </div>
                                                        <div class="col-md-3 d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                                                            <div class="row">
                                                                <div class="col"><a class="button" href="{{path('product_increase_quantity', {'id': product.id})}}" style="border-radius: 10em;">+</a></div>
                                                                <div class="col"><input class="form-control" value="{{cart.getQuantity()}}" type="text" style="border-radius: 10em;"></div>
                                                                <div class="col"><a class="button" href="{{path('product_decrease_quantity', {'id': product.id})}}" style="border-radius: 10em;">-</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 d-xxl-flex align-items-xxl-center" style="background: #212121;color: rgb(247,251,255);">
                                                            <h1 style="border-color: rgb(255,255,255);">{{product.price * cart.getQuantity()}}</h1>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}

                                <div class="row">
                                    <div class="col d-xxl-flex justify-content-xxl-end align-items-xxl-end">
                                        <h5 style="background: #c9908c;padding: 1em;border: .15em solid #212121 ;">Subtotal:<span>$</span><span>{{subtotal}}</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-xxl-flex justify-content-end align-items-end align-content-end justify-content-xxl-end align-items-xxl-center">
                                <button class="d-xxl-flex button" onclick="location.href = '{{path('checkout')}}'" style="margin-left: auto;margin-right: 0%;font-size: 2em;margin-top: 3%;"
                                >Checkout</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}