{% extends "base.html.twig" %}

{% block title %}
	{{product.name}}
{% endblock %}

{% block nav %}
            <div class="sidebar">
                <div class="side-nav-section">
                    <div class="side-nav"><a data-bs-toggle="collapse" aria-expended="false" aria-controls="collapse-1" onclick= "location.href='#collapse-1'" role="button"><button class="sidebar-nav-title btn-custom button">Product</button></a>
                        <div id="collapse-1" class="collapse">
                            <ul class="list-unstyled">
                                {# display all categories #}
                                {% for category in categories %}
                                    {# {{ path('category_show', { 'id': category.id }) }} #}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="side-nav-section">
                    {# search field #}
                    
                        <form action="{{ path('product_search') }}" method="GET">
                            <input type="text" name="search" placeholder="Search">
                            {# <button type="submit" class="btn-custom button">Search</button> #}
                        </form>
                    
                    <nav class="pages-nav side-nav-section">
                        <ul class="list-unstyled pages-nav-items">
                            <li><a href="{{path ('home')}}">Home</a></li>
                            <li><a href="detail.html">Detail</a></li>
                            <li><a href="category.html">Category</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
{% endblock %}

{% block body %}
	<div class="content">
		<div class="product-heading">
			<div class="product-title">
				<h2 style="display: block;     font-size: 2em;     margin-block-start: 0.67em;     margin-block-end: 0.67em;     margin-inline-start: 0px;     margin-inline-end: 0px;     font-weight: bold;    font-size: 2em;     margin: 0.67em 0;">Product name</h2>
				<div class="product-subtitle">
					<span class="product-status">Pre-order</span>
					<span class="currency-sign">$</span>
					<span class="product-item-price">{{product.price}}</span>
				</div>
			</div>
			<form class="product-add" ><input class="form-control" type="hidden"><button class="button" onclick="location.href = '{{path('product_add_cart', {'id': product.id})}}'" type="button" style="width: 100%;">Add to cart</button>
			</form>
		</div>
		{# create a collage of the product's images #}
        <div class="product-images">
            <div class="product-images-collage">
                {% for image in product.images %}
                    <img src="{{asset('images/product/'~image.imageID)}}" alt="{{product.id}}" style="width:50%; height:auto; border:solid .15em #212121; margin: 1em; display:flex">
                {% endfor %}
            </div>
        </div>

		<div class="product-description">
			<p>{{product.info}}</p>
		</div>
	</div>
{% endblock %}
