{% extends "nav.html.twig" %}

{% block title %}
	{{product.name}}
{% endblock %}


{% block body %}
	<div class="content">
		<div class="product-heading">
			<div class="product-title">
				<h2 style="display: block;     font-size: 2em;     margin-block-start: 0.67em;     margin-block-end: 0.67em;     margin-inline-start: 0px;     margin-inline-end: 0px;     font-weight: bold;    font-size: 2em;     margin: 0.67em 0;">Product name</h2>
				<div class="product-subtitle">
					<span class="product-status">Pre-order</span>
					<span class="currency-sign">$</span>
					<span class="product-item-price">{{product.price}}</span>
				</div>
			</div>
			<form class="product-add"><input class="form-control" type="hidden">
			<button class="button" onclick="location.href = '{{path('product_add_cart', {'id': product.id})}}'" type="button" style="width: 100%;">Add to cart</button>
			</form>
		</div>
		{# create a collage of the product's images #}
		<div class="product-images">
			<div class="product-images-collage">
				{% for image in product.images %}
					<img src="{{asset('images/product/'~image.imageID)}}" alt="{{product.id}}" style="width:50%; height:auto; border:solid .15em #212121; margin: 1em; display:flex">
				{% endfor %}
			</div>
		</div>

		<div class="product-description">
			<p>{{product.info}}</p>
		</div>
	</div>
{% endblock %}
