{% extends 'base.html.twig' %}

{% block body %}
    {# Display all image in a table with Id and the img#}
    <a class="button" style="width:20%" href="{{ path('image_add')}}">Add</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.id }}</td>
                    <td><img src="{{ asset('images/product/'~image.imageID) }}" alt="{{ image.id }}" width="40%" ></td>
                    <td>
                        {# <a href="{{ path('image_show', {'id': image.id}) }}">show</a> #}
                    </td>
                    <td>
                        <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                    </td>
                    <td>
                        <a href="{{ path('image_delete', {'id': image.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}